In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
read = '/home/zoro/Desktop/datafest2018/DataFest-Dataset-2018.csv/output/month2/'
#write= '/Users/Apoorva.Rajesh.Joshi@ibm.com/Desktop/Ap version/'
filename = 'nov16.csv'
f = pd.read_csv(read+filename).drop(['Unnamed: 0'], axis=1) # read the file and drop first column

In [2]:
f.shape

(746729, 24)

In [3]:
f.head()

,date,companyId,jobId,country,stateProvince,city,avgOverallRating,numReviews,industry,normTitle,...,estimatedSalary,salaryCurrency,jobLanguage,supervisingJob,licenseRequiredJob,educationRequirements,jobAgeDays,clicks,localClicks,label
0,2016-11-01,company00002,job0000002,US,AZ,Peoria,0.0,NaN,NaN,customer service representative,...,22800,NaN,EN,0.0,0.0,High School,99,12,2,43
1,2016-11-01,company00977,job0046801,US,FL,Gainesville,3.1,3576.0,HEALTH_CARE,case manager,...,42600,NaN,EN,1.0,1.0,Higher Education,19,36,24,24378
2,2016-11-01,company34117,job0070172,US,TX,Dallas,4.0,9.0,NaN,licensed clinical social worker,...,50300,NaN,EN,0.0,1.0,Higher Education,5,88,14,332460
3,2016-11-01,company05230,job0010362,US,NY,Yonkers,3.5,36.0,NaN,security,...,41500,NaN,EN,1.0,1.0,Higher Education,64,13,0,99285
4,2016-11-01,company20349,job0054168,US,MI,Charter Township of Brownstown,0.0,NaN,NaN,grocery associate,...,22600,NaN,EN,0.0,0.0,None,14,22,0,268079

In [6]:
df = f.stateProvince.unique()

In [8]:
df

array(['AZ', 'FL', 'TX', 'NY', 'MI', 'IA', 'NC', 'CO', 'CT', 'CA', 'NV',
       'KY', 'NJ', 'TN', 'GA', 'IL', 'MA', 'VA', 'NE', 'KS', 'MD', 'PA',
       'ME', 'MN', 'IN', 'WA', 'NM', 'LA', 'AL', 'OH', 'WI', 'OK',
       'UNKNOWN', 'DC', 'SC', 'UT', 'DE', 'NH', 'VT', 'OR', 'MO', 'SD',
       'AR', 'ID', 'HI', 'WV', 'RI', 'ND', 'MS', 'MT', 'AK', 'PR', 'WY',
       'VI', 'GU'], dtype=object)

In [25]:
dict1={}
for key in df:
    if key in dict1:
        continue
    else:
        dict1[key]=0

In [26]:
dict1

{'AK': 0,
 'AL': 0,
 'AR': 0,
 'AZ': 0,
 'CA': 0,
 'CO': 0,
 'CT': 0,
 'DC': 0,
 'DE': 0,
 'FL': 0,
 'GA': 0,
 'GU': 0,
 'HI': 0,
 'IA': 0,
 'ID': 0,
 'IL': 0,
 'IN': 0,
 'KS': 0,
 'KY': 0,
 'LA': 0,
 'MA': 0,
 'MD': 0,
 'ME': 0,
 'MI': 0,
 'MN': 0,
 'MO': 0,
 'MS': 0,
 'MT': 0,
 'NC': 0,
 'ND': 0,
 'NE': 0,
 'NH': 0,
 'NJ': 0,
 'NM': 0,
 'NV': 0,
 'NY': 0,
 'OH': 0,
 'OK': 0,
 'OR': 0,
 'PA': 0,
 'PR': 0,
 'RI': 0,
 'SC': 0,
 'SD': 0,
 'TN': 0,
 'TX': 0,
 'UNKNOWN': 0,
 'UT': 0,
 'VA': 0,
 'VI': 0,
 'VT': 0,
 'WA': 0,
 'WI': 0,
 'WV': 0,
 'WY': 0}

In [27]:
f['acc_clicks']=0

In [21]:
f = f.reset_index()

In [29]:
count=0
for index, row in f.iterrows():
    print row['stateProvince']
    print row['clicks']
    
    sp = row['stateProvince']
    clicks = row['clicks']
    
    val = dict1[sp]
    val = val + clicks
    dict1[sp] = val
    
    row['acc_clicks']=val
    
    print row['acc_clicks']
    if count == 10:
        break
    count +=1

AZ
12
24
FL
36
72
TX
88
176
NY
13
26
MI
22
44
IA
18
36
NC
11
11
CO
12
12
CT
12
12
CA
37
37
NV
4
4

In [31]:
f[f.date == '2016-11-01']

,index,date,companyId,jobId,country,stateProvince,city,avgOverallRating,numReviews,industry,...,salaryCurrency,jobLanguage,supervisingJob,licenseRequiredJob,educationRequirements,jobAgeDays,clicks,localClicks,label,acc_clicks
0,0,2016-11-01,company00002,job0000002,US,AZ,Peoria,0.0,NaN,NaN,...,NaN,EN,0.0,0.0,High School,99,12,2,43,0
1,1,2016-11-01,company00977,job0046801,US,FL,Gainesville,3.1,3576.0,HEALTH_CARE,...,NaN,EN,1.0,1.0,Higher Education,19,36,24,24378,0
2,2,2016-11-01,company34117,job0070172,US,TX,Dallas,4.0,9.0,NaN,...,NaN,EN,0.0,1.0,Higher Education,5,88,14,332460,0
3,3,2016-11-01,company05230,job0010362,US,NY,Yonkers,3.5,36.0,NaN,...,NaN,EN,1.0,1.0,Higher Education,64,13,0,99285,0
4,4,2016-11-01,company20349,job0054168,US,MI,Charter Township of Brownstown,0.0,NaN,NaN,...,NaN,EN,0.0,0.0,None,14,22,0,268079,0
5,5,2016-11-01,company03785,job0024376,US,IA,NaN,3.4,67.0,NaN,...,NaN,EN,1.0,1.0,High School,38,18,3,85064,0
6,6,2016-11-01,company27976,job0060502,US,NC,Charlotte,4.1,88.0,NaN,...,NaN,EN,0.0,0.0,Higher Education,10,11,1,313849,0
7,7,2016-11-01,company16777,job0029038,US,CO,Greeley,3.0,19.0,NaN,...,NaN,EN,0.0,1.0,Higher Education,32,12,3,226295,0
8,8,2016-11-01,company04480,job0005725,US,CT,Hartford,3.4,70.0,HEALTH_CARE,...,NaN,EN,1.0,1.0,Higher Education,75,12,1,92404,0
9,9,2016-11-01,company30319,job0060501,US,CA,San Francisco,4.0,91.0,NaN,...,NaN,EN,0.0,0.0,Higher Education,10,37,5,319872,0
10,10,2016-11-01,company27756,job0054167,US,NV,Sparks,0.0,NaN,NaN,...,NaN,EN,0.0,0.0,None,13,4,3,312749,0
11,11,2016-11-01,company11131,job0079771,US,KY,Louisville,0.0,NaN,NaN,...,NaN,EN,0.0,0.0,Higher Education,0,7,4,159991,0
12,12,2016-11-01,company21969,job0040811,US,NJ,Edison,0.0,NaN,NaN,...,NaN,EN,0.0,0.0,None,21,6,1,283358,0
13,13,2016-11-01,company01073,job0034352,US,TN,Knoxville,3.2,62.0,FOOD_AND_BEVERAGES,...,NaN,EN,1.0,1.0,Higher Education,26,27,0,26178,0
14,14,2016-11-01,company24665,job0046807,US,GA,Valdosta,4.7,18.0,NaN,...,NaN,EN,0.0,1.0,High School,18,2,2,303251,0
15,15,2016-11-01,company34118,job0070173,US,TX,Seagoville,3.3,22.0,NaN,...,NaN,EN,0.0,0.0,High School,5,50,1,332463,0
16,16,2016-11-01,company21881,job0063303,US,NC,Winston-Salem,0.0,NaN,NaN,...,NaN,EN,0.0,0.0,High School,7,28,0,282680,0
17,17,2016-11-01,company03627,job0073066,US,IL,Chicago,3.9,62.0,NaN,...,NaN,EN,0.0,1.0,Higher Education,4,42,17,83406,0
18,18,2016-11-01,company07204,job0010364,US,NJ,Vineland,0.0,NaN,NaN,...,NaN,EN,0.0,1.0,High School,64,23,1,119541,0
19,19,2016-11-01,company33198,job0067859,US,MA,Cambridge,4.2,107.0,"AEROSPACE_AND_DEFENSE,HEALTH_CARE",...,NaN,EN,0.0,0.0,Higher Education,6,25,2,330616,0
20,20,2016-11-01,company33199,job0067860,US,VA,Reston,0.0,NaN,INTERNET_AND_SOFTWARE,...,NaN,EN,0.0,0.0,None,5,15,3,330619,0
21,21,2016-11-01,company24660,job0046797,US,GA,Alpharetta,3.2,122.0,NaN,...,NaN,EN,0.0,1.0,None,19,43,0,303235,0
22,22,2016-11-01,company09503,job0016008,US,FL,Lake Mary,3.7,1257.0,"BANKS_AND_FINANCIAL_SERVICES,INSURANCE",...,NaN,EN,0.0,0.0,Higher Education,52,34,1,137610,0
23,23,2016-11-01,company21977,job0040829,US,CA,Los Angeles,0.0,NaN,NaN,...,NaN,EN,0.0,0.0,None,22,21,9,283816,0
24,24,2016-11-01,company03292,job0054176,US,NE,Norfolk,4.1,330.0,INTERNET_AND_SOFTWARE,...,NaN,EN,0.0,1.0,None,14,35,6,79071,0
25,25,2016-11-01,company00554,job0057316,US,KS,Wichita,3.9,54.0,NaN,...,NaN,EN,0.0,0.0,Higher Education,12,26,9,14279,0
26,26,2016-11-01,company27862,job0063301,US,NY,Lagrange,0.0,NaN,NaN,...,NaN,EN,0.0,0.0,High School,7,31,0,313333,0
27,27,2016-11-01,company07197,job0010352,US,TX,Irving,0.0,NaN,NaN,...,NaN,EN,0.0,0.0,None,64,30,1,119460,0
28,28,2016-11-01,company07201,job0010358,US,NY,Rochester,0.0,NaN,NaN,...,USD,EN,0.0,0.0,High School,64,10,10,119522,0
29,29,2016-11-01,company04481,job0005726,US,MD,Baltimore,0.0,NaN,NaN,...,USD,EN,0.0,0.0,High School,76,30,12,92410,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17710,17710,2016-11-01,company00181,job0048592,US,AL,Montgomery,0.0,NaN,NaN,...,NaN,EN,1.0,0.0,None,18,15,9,3759,0
17711,17711,2016-11-01,company01453,job0011430,US,NY,New York,3.9,91.0,NaN,...,NaN,EN,0.0,0.0,None,62,6,0,31766,0
17712,17712,2016-11-01,company02436,job0074148,US,CA,San Diego,0.0,NaN,NaN,...,NaN,EN,0.0,0.0,None,3,32,8,55425,0
17713,17713,2016-11-01,company21318,job0039212,US,TX,El Paso,4.5,46.0,NaN,...,NaN,EN,0.0,0.0,None,24,36,18,276639,0
17714,17714,2016-11-01,company19700,job0035542,US,PA,Philadelphia,0.0,NaN,NaN,...,NaN,EN,0.0,0.0,Higher Education,26,12,2,262822,0
17715,17715,2016-11-01,company27207,job0052967,US,SC,Florence,0.0,NaN,NaN,...,NaN,EN,1.0,1.0,Higher Education,13,5,3,311552,0
17716,17716,2016-11-01,company25400,job0048608,US,OR,Portland,3.1,41.0,NaN,...,NaN,EN,0.0,1.0,Higher Education,18,40,12,305937,0
17717,17717,2016-11-01,company27169,job0052901,US,ME,Portland,4.0,76.0,NaN,...,NaN,EN,1.0,0.0,High School,14,28,4,311480,0
17718,17718,2016-11-01,company30753,job0064722,US,VA,Norfolk,0.0,NaN,NaN,...,NaN,EN,0.0,1.0,Higher Education,7,19,1,321633,0
17719,17719,2016-11-01,company19930,job0035996,US,TX,Dallas,0.0,NaN,NaN,...,USD,EN,1.0,0.0,Higher Education,26,27,0,264476,0
17720,17720,2016-11-01,company12047,job0019194,US,CT,Orange,3.6,93.0,HEALTH_CARE,...,NaN,EN,0.0,1.0,None,46,26,2,172879,0
17721,17721,2016-11-01,company02436,job0067087,US,UT,Salt Lake City,0.0,NaN,NaN,...,USD,EN,0.0,0.0,None,5,9,3,55369,0
17722,17722,2016-11-01,company12145,job0019397,US,NJ,Bridgewater,0.0,NaN,NaN,...,NaN,EN,1.0,0.0,Higher Education,46,16,3,174766,0
17723,17723,2016-11-01,company27343,job0053242,US,CT,Greenwich,0.0,NaN,NaN,...,NaN,EN,0.0,0.0,Higher Education,13,22,0,311820,0
17724,17724,2016-11-01,company37618,job0080303,US,CA,San Francisco,4.0,32.0,NaN,...,NaN,EN,0.0,1.0,None,0,10,1,341919,0
17725,17725,2016-11-01,company35478,job0074119,US,TX,Fort Worth,0.0,NaN,NaN,...,NaN,EN,0.0,0.0,None,2,6,1,335595,0
17726,17726,2016-11-01,company16583,job0064518,US,CA,Long Beach,3.2,72.0,NaN,...,NaN,EN,0.0,1.0,High School,7,134,35,223741,0
17727,17727,2016-11-01,company29391,job0058093,US,IL,Montgomery,0.0,NaN,NaN,...,NaN,EN,0.0,0.0,High School,11,21,2,317405,0
17728,17728,2016-11-01,company12979,job0021042,US,MA,Boston,3.7,3.0,NaN,...,NaN,EN,0.0,0.0,Higher Education,43,10,10,185260,0
17729,17729,2016-11-01,company15057,job0025462,US,TX,Edinburg,4.5,96.0,NaN,...,USD,EN,0.0,1.0,High School,36,49,11,208533,0
17730,17730,2016-11-01,company16202,job0027862,US,NY,Bronx,4.0,255.0,NaN,...,NaN,EN,0.0,1.0,Higher Education,33,28,0,220151,0
17731,17731,2016-11-01,company00989,job0035780,US,OH,Euclid,3.6,113.0,NaN,...,NaN,EN,1.0,1.0,None,25,11,3,24766,0
17732,17732,2016-11-01,company03138,job0073891,US,MS,Flowood,0.0,NaN,RETAIL,...,NaN,EN,1.0,0.0,None,3,19,2,78023,0
17733,17733,2016-11-01,company03486,job0004338,US,VA,Roanoke,0.0,NaN,NaN,...,USD,EN,0.0,0.0,High School,81,18,1,81408,0
17734,17734,2016-11-01,company21043,job0038490,US,CO,Lone Tree,3.5,125.0,NaN,...,NaN,EN,0.0,0.0,Higher Education,25,21,2,273870,0
17735,17735,2016-11-01,company03428,job0019412,US,CA,San Francisco,4.0,52.0,NaN,...,NaN,EN,0.0,1.0,Higher Education,46,6,0,80588,0
17736,17736,2016-11-01,company01510,job0028246,US,CA,San Jose,4.0,186.0,CONSULTING_AND_BUSINESS_SERVICES,...,NaN,EN,1.0,0.0,Higher Education,32,6,6,32910,0
17737,17737,2016-11-01,company03488,job0004340,US,KY,Louisville,2.8,132.0,NaN,...,NaN,EN,0.0,1.0,Higher Education,81,11,0,81410,0
17738,17738,2016-11-01,company27536,job0076691,US,CA,Fremont,0.0,NaN,NaN,...,NaN,EN,0.0,0.0,Higher Education,0,31,1,312166,0
17739,17739,2016-11-01,company02274,job0014861,US,MN,Bloomington,3.8,61.0,NaN,...,USD,EN,0.0,0.0,None,54,9,3,52593,0