In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
read = '/home/zoro/Desktop/datafest2018/DataFest-Dataset-2018.csv/output/month2/'
#write= '/Users/Apoorva.Rajesh.Joshi@ibm.com/Desktop/Ap version/'
filename = 'nov16.csv'
f = pd.read_csv(read+filename).drop(['Unnamed: 0'], axis=1) # read the file and drop first column

In [2]:
f.shape

(746729, 24)

In [3]:
f.head()

,date,companyId,jobId,country,stateProvince,city,avgOverallRating,numReviews,industry,normTitle,...,estimatedSalary,salaryCurrency,jobLanguage,supervisingJob,licenseRequiredJob,educationRequirements,jobAgeDays,clicks,localClicks,label
0,2016-11-01,company00002,job0000002,US,AZ,Peoria,0.0,NaN,NaN,customer service representative,...,22800,NaN,EN,0.0,0.0,High School,99,12,2,43
1,2016-11-01,company00977,job0046801,US,FL,Gainesville,3.1,3576.0,HEALTH_CARE,case manager,...,42600,NaN,EN,1.0,1.0,Higher Education,19,36,24,24378
2,2016-11-01,company34117,job0070172,US,TX,Dallas,4.0,9.0,NaN,licensed clinical social worker,...,50300,NaN,EN,0.0,1.0,Higher Education,5,88,14,332460
3,2016-11-01,company05230,job0010362,US,NY,Yonkers,3.5,36.0,NaN,security,...,41500,NaN,EN,1.0,1.0,Higher Education,64,13,0,99285
4,2016-11-01,company20349,job0054168,US,MI,Charter Township of Brownstown,0.0,NaN,NaN,grocery associate,...,22600,NaN,EN,0.0,0.0,None,14,22,0,268079

In [6]:
df = f.stateProvince.unique()

In [8]:
df

array(['AZ', 'FL', 'TX', 'NY', 'MI', 'IA', 'NC', 'CO', 'CT', 'CA', 'NV',
       'KY', 'NJ', 'TN', 'GA', 'IL', 'MA', 'VA', 'NE', 'KS', 'MD', 'PA',
       'ME', 'MN', 'IN', 'WA', 'NM', 'LA', 'AL', 'OH', 'WI', 'OK',
       'UNKNOWN', 'DC', 'SC', 'UT', 'DE', 'NH', 'VT', 'OR', 'MO', 'SD',
       'AR', 'ID', 'HI', 'WV', 'RI', 'ND', 'MS', 'MT', 'AK', 'PR', 'WY',
       'VI', 'GU'], dtype=object)

In [25]:
dict1={}
for key in df:
    if key in dict1:
        continue
    else:
        dict1[key]=0

In [26]:
dict1

{'AK': 0,
 'AL': 0,
 'AR': 0,
 'AZ': 0,
 'CA': 0,
 'CO': 0,
 'CT': 0,
 'DC': 0,
 'DE': 0,
 'FL': 0,
 'GA': 0,
 'GU': 0,
 'HI': 0,
 'IA': 0,
 'ID': 0,
 'IL': 0,
 'IN': 0,
 'KS': 0,
 'KY': 0,
 'LA': 0,
 'MA': 0,
 'MD': 0,
 'ME': 0,
 'MI': 0,
 'MN': 0,
 'MO': 0,
 'MS': 0,
 'MT': 0,
 'NC': 0,
 'ND': 0,
 'NE': 0,
 'NH': 0,
 'NJ': 0,
 'NM': 0,
 'NV': 0,
 'NY': 0,
 'OH': 0,
 'OK': 0,
 'OR': 0,
 'PA': 0,
 'PR': 0,
 'RI': 0,
 'SC': 0,
 'SD': 0,
 'TN': 0,
 'TX': 0,
 'UNKNOWN': 0,
 'UT': 0,
 'VA': 0,
 'VI': 0,
 'VT': 0,
 'WA': 0,
 'WI': 0,
 'WV': 0,
 'WY': 0}

In [27]:
f['acc_clicks']=0

In [21]:
f = f.reset_index()

In [29]:
count=0
for index, row in f.iterrows():
    print row['stateProvince']
    print row['clicks']
    
    sp = row['stateProvince']
    clicks = row['clicks']
    
    val = dict1[sp]
    val = val + clicks
    dict1[sp] = val
    
    row['acc_clicks']=val
    
    print row['acc_clicks']
    if count == 10:
        break
    count +=1

AZ
12
24
FL
36
72
TX
88
176
NY
13
26
MI
22
44
IA
18
36
NC
11
11
CO
12
12
CT
12
12
CA
37
37
NV
4
4