In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
read = '/home/zoro/Desktop/datafest2018/DataFest-Dataset-2018.csv/data2/'
write= '/home/zoro/Desktop/datafest2018/DataFest-Dataset-2018.csv/output/'
filename = 'US_clean1.csv'

In [2]:
df = pd.read_csv(read+filename).drop(['Unnamed: 0'], axis=1) # read the file and drop first column

In [4]:
df.shape

(11547904, 24)

In [5]:
df.head()

,date,companyId,jobId,country,stateProvince,city,avgOverallRating,numReviews,industry,normTitle,...,estimatedSalary,salaryCurrency,jobLanguage,supervisingJob,licenseRequiredJob,educationRequirements,jobAgeDays,clicks,localClicks,label
0,2016-11-01,company00002,job0000002,US,AZ,Peoria,0.0,NaN,NaN,customer service representative,...,22800,NaN,EN,0.0,0.0,High School,99,12,2,43
1,2016-11-01,company00977,job0046801,US,FL,Gainesville,3.1,3576.0,HEALTH_CARE,case manager,...,42600,NaN,EN,1.0,1.0,Higher Education,19,36,24,24378
2,2016-11-01,company34117,job0070172,US,TX,Dallas,4.0,9.0,NaN,licensed clinical social worker,...,50300,NaN,EN,0.0,1.0,Higher Education,5,88,14,332460
3,2016-11-01,company05230,job0010362,US,NY,Yonkers,3.5,36.0,NaN,security,...,41500,NaN,EN,1.0,1.0,Higher Education,64,13,0,99285
4,2016-11-01,company20349,job0054168,US,MI,Charter Township of Brownstown,0.0,NaN,NaN,grocery associate,...,22600,NaN,EN,0.0,0.0,None,14,22,0,268079

In [6]:
df.columns

Index([u'date', u'companyId', u'jobId', u'country', u'stateProvince', u'city',
       u'avgOverallRating', u'numReviews', u'industry', u'normTitle',
       u'normTitleCategory', u'descriptionCharacterLength',
       u'descriptionWordCount', u'experienceRequired', u'estimatedSalary',
       u'salaryCurrency', u'jobLanguage', u'supervisingJob',
       u'licenseRequiredJob', u'educationRequirements', u'jobAgeDays',
       u'clicks', u'localClicks', u'label'],
      dtype='object')

In [7]:
df1 = df.loc[:,['date','companyId','jobId','stateProvince','city','industry','normTitle','normTitleCategory','experienceRequired','estimatedSalary']]

In [8]:
df1.shape

(11547904, 10)

In [9]:
df1.to_csv(write+'US_companies.csv')