In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt

In [2]:
read = '/home/zoro/Desktop/datafest2018/DataFest-Dataset-2018.csv/data2/'

In [3]:
df = pd.read_csv(read+'US_clean1.csv').drop(['Unnamed: 0'], axis=1)

In [4]:
df.head()

,date,companyId,jobId,country,stateProvince,city,avgOverallRating,numReviews,industry,normTitle,...,estimatedSalary,salaryCurrency,jobLanguage,supervisingJob,licenseRequiredJob,educationRequirements,jobAgeDays,clicks,localClicks,label
0,2016-11-01,company00002,job0000002,US,AZ,Peoria,0.0,NaN,NaN,customer service representative,...,22800,NaN,EN,0.0,0.0,High School,99,12,2,43
1,2016-11-01,company00977,job0046801,US,FL,Gainesville,3.1,3576.0,HEALTH_CARE,case manager,...,42600,NaN,EN,1.0,1.0,Higher Education,19,36,24,24378
2,2016-11-01,company34117,job0070172,US,TX,Dallas,4.0,9.0,NaN,licensed clinical social worker,...,50300,NaN,EN,0.0,1.0,Higher Education,5,88,14,332460
3,2016-11-01,company05230,job0010362,US,NY,Yonkers,3.5,36.0,NaN,security,...,41500,NaN,EN,1.0,1.0,Higher Education,64,13,0,99285
4,2016-11-01,company20349,job0054168,US,MI,Charter Township of Brownstown,0.0,NaN,NaN,grocery associate,...,22600,NaN,EN,0.0,0.0,None,14,22,0,268079

In [5]:
df.columns

Index([u'date', u'companyId', u'jobId', u'country', u'stateProvince', u'city',
       u'avgOverallRating', u'numReviews', u'industry', u'normTitle',
       u'normTitleCategory', u'descriptionCharacterLength',
       u'descriptionWordCount', u'experienceRequired', u'estimatedSalary',
       u'salaryCurrency', u'jobLanguage', u'supervisingJob',
       u'licenseRequiredJob', u'educationRequirements', u'jobAgeDays',
       u'clicks', u'localClicks', u'label'],
      dtype='object')

In [6]:
jobs_per_us_state=df.groupby('stateProvince')['label'].count().sort_values()

In [7]:
type(jobs_per_us_state)

pandas.core.series.Series

In [8]:
jobs_per_us_state.to_csv(read+'jobs_per_us_state.csv')

In [9]:
df['state_label'] = df.groupby(['stateProvince']).ngroup()

In [10]:
df.columns

Index([u'date', u'companyId', u'jobId', u'country', u'stateProvince', u'city',
       u'avgOverallRating', u'numReviews', u'industry', u'normTitle',
       u'normTitleCategory', u'descriptionCharacterLength',
       u'descriptionWordCount', u'experienceRequired', u'estimatedSalary',
       u'salaryCurrency', u'jobLanguage', u'supervisingJob',
       u'licenseRequiredJob', u'educationRequirements', u'jobAgeDays',
       u'clicks', u'localClicks', u'label', u'state_label'],
      dtype='object')

In [11]:
states = df.groupby('stateProvince')

In [13]:
company_per_us_state={}

In [15]:
df['state_label'].unique()

array([ 4, 10, 47, 37, 24, 14, 30,  6,  7,  5, 36, 19, 34, 46, 11, 16, 21,
       51, 32, 18, 22, 38, 41, 23, 33, 25, 17, 54, 35, 20,  1, 55, 39, 49,
        8, 44, 50,  9, 53, 40, 26, 45,  2, 15, 13, 57, 56, 43, 31, 28, 29,
        0, 42, 52, 12, 27, 48,  3])

In [19]:
df[df['stateProvince']=='NJ']['companyId'].count()

331959

In [18]:
df.companyId.nunique()

109002